<div>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper" style="margin: 0 auto;">
    <div class="animate form login_form" style="height: 100vh; display: flex; align-items: center;">
      <section class="login_content">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <h1>Login</h1>

          <div>
            <%= f.email_field :email, autofocus: true, placeholder: "E-mail", class: "form-control" %>
          </div>

          <div>
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
          </div>

          <div>
            <%= f.submit "Entrar", class: "btn btn-primary submit w-100 m-0" %>
          </div>

          <div class="clearfix"></div>

          <div class="separator">

            <div class="clearfix"></div>
            <br />

            <div>
              <h1>Time to answer!</h1>
              <p>©2021 All Rights Reserved. Time to answer! Made by Lucas Macedo. Privacy and Terms</p>
            </div>
          </div>
        <% end %>
      </section>
    </div>
  </div>
</div>
