<h1>Site::Welcome#index</h1>
<p>Find me in app/views/site/welcome/index.html.erb</p>

<% if user_signed_in? %>
  <p>O usuário <%= current_user.email %>, está logado </p>
<% else %>
  <p>O usuário não está logado </p>
<% end %>

<% if admin_signed_in? %>
  <p>O administrador <%= current_admin.email %>, está logado </p>
<% else %>
  <p>O administrador não está logado </p>
<% end %>
